<div class="section section-about">
  <div class="container">
    <div class="section-about-wrap">
      <div class="tex-wrapper">
        <div class="title">About us</div>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
           Ut enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut
           aliquip ex ea commodo consequat. Duis aute irure dolor it in lorei voluptate velit esse cillum dolore eu fugiat nulla pariatur lorem ispum loting sokui.</p>
      </div>
      <div class="slider">
        <div class="slider-item">
          <div class="card-img">
            <img src="images/img-2.jpg" alt="img">
          </div>
        </div>
        <div class="slider-item">
          <div class="card-img">
            <img src="images/img-2.jpg" alt="img">
          </div>
        </div>
        <div class="slider-item">
          <div class="card-img">
            <img src="images/img-2.jpg" alt="img">
          </div>
        </div>
        <div class="slider-item">
          <div class="card-img">
            <img src="images/img-2.jpg" alt="img">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>