<div class="card-price">
  <div class="card-header">
    <div class="price" >
      <span>$</span>
      <span class="value">49</span>
      <span>/ month</span>
    </div>
  </div>
  <div class="card-body">
    <ul class="list-description">
      <li class="description-item">ENTRY DATE: MON – FRI</li>
      <li class="description-item">NTRY TIME: 8A.M – 8P.M</li>
      <li class="description-item">NUTRITION ADVICER: NO</li>
    </ul>
    <a href="#" class="btn" data-hover=".card-price">Buy now</a>
  </div>
</div>