<div class="footer-wrap">
  <div class="container">
    <div class="footer-list-wrap">
      <ul class="footer-list">
        <li class="footer-item footer-about">
          <ul class="footer-sublist">
            <li class="sublist-item title">About</li>
            <li class="sublist-item item-padding">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad m inim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea commodo consequat.</p>
            </li>
            <li class="sublist-item">
              <ul class="social-list">
                <li><a href="#" class="social-item pinterest"></a></li>
                <li><a href="#" class="social-item twitter"></a></li>
                <li><a href="#" class="social-item facebook"></a></li>
                <li><a href="#" class="social-item google-plus"></a></li>
                <li><a href="#" class="social-item instagram"></a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="footer-item">
          <ul class="footer-sublist footer-contact">
            <li class="sublist-item title">CONTACT US</li>
            <li class="sublist-item item-before placeholder">5419 Joseph Mountains Apt.716</li>
            <li class="sublist-item item-before phone-call">+1 234 567 89 <br>+1 234 678 90</li>
          </ul>
        </li>
        <li class="footer-item footer-contact">
          <ul class="footer-sublist">
            <li class="sublist-item title-margin"></li>
            <li class="sublist-item item-before mail">joga.info@example.com</li>
            <li class="sublist-item item-before planet-earth">www.example.com</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <span>Copyright  ©  2016-2017 Yoga classes</span>
    </div>
  </div>
</div>