<div class="section section-title">
  <div class="background"></div>
  <div class="section-title-wrapper"> 
    <div class="container">
      <div class="section-wrap">
        <div class="form-wrap">
          <form action="/action_page.php" class="form">
            <div class="form-title">Trial Class</div>
            <input type="text" placeholder="Enter your name" required="required" class="form-item">
            <input type="tel" placeholder="Enter your phone" required="required" class="form-item">
            <input type="text" placeholder="Chose your class" required="required" class="form-item">
            <div class="btn-wrap">
              <a href="#" class="btn">Try it</a>
            </div>          
          </form>
        </div>
        <div class="title-wrap">
          <h1 class="title">Just Balance<br> your Mind & Body </h1>
          <div class="subtitle">Create the healthy living<br> for yourself</div>
        </div>
      </div>
    </div>
  </div>
</div>