<div class="section section-title">
  <div class="background"></div>
  <div class="section-title-wrapper"> 
    <div class="container">
      <div class="section-wrap">
        <div class="form-wrap">
          <form action="/action_page.php" class="form">
            <div class="form-title">Trial Class</div>
            <input type="text" placeholder="Enter your name" required="required" class="form-item">
            <input type="tel" placeholder="Enter your phone" pattern="^\d{4}-\d{3}-\d{4}$" required="required" class="form-item">
            <span><select name="class[]" required class="form-item">
                <option disabled selected>Chose your class</option>
                <option >Yoga For Health</option>
                <option >Yoga For Lose Weight</option>
                <option >Yoga For Children</option>
                <option >Yoga For Elderly</option>
               </select></span>
            <div class="btn-wrap">
              <input type="submit" class="btn" value="Try it">
            </div>          
          </form>
        </div>
        <div class="title-wrap">
          <h1 class="title">Just Balance<br> your Mind & Body </h1>
          <div class="subtitle">Create the healthy living<br> for yourself</div>
        </div>
      </div>
    </div>
  </div>
</div>